<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.attendence">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ExamActivity1"
            android:parentActivityName=".First_Class"/>
        <activity android:name=".ExamActivity2"
            android:parentActivityName=".SecondClass"/>
        <activity android:name=".ExamActivity3"
            android:parentActivityName=".ThirdClass"/>
        <activity android:name=".ExamActivity4"
            android:parentActivityName=".Fourth_Class"/>
        <activity android:name=".ExamActivity5"
            android:parentActivityName=".Fifth_Class"/>
        <activity android:name=".ExamActivity6"
            android:parentActivityName=".Sixth_Class"/>
        <activity android:name=".ExamActivity7"
            android:parentActivityName=".Seventh_Class"/>
        <activity android:name=".ExamActivity8"
            android:parentActivityName=".Eight_Class"/>
        <activity android:name=".ExamActivity9"
            android:parentActivityName=".Nine_Class"/>
        <activity android:name=".ExamActivity10"
            android:parentActivityName=".Ten_Class"/>
        <activity android:name=".ExamActivity11"
            android:parentActivityName=".ElevenClass"/>

        <activity android:name=".ElevenClass"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".Ten_Class"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".Nine_Class"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".Eight_Class"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".Seventh_Class"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".Sixth_Class"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".Fifth_Class"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".Fourth_Class"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".ThirdClass"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".SecondClass"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".First_Class"
            android:parentActivityName=".MainActivity"/>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>