<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.attendence">

    <application
        android:allowBackup="true"
        android:icon="@drawable/attendance"
        android:label="@string/app_name"
        android:roundIcon="@drawable/attendance"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".eight_class.eight_exam_date.ExamActivity8"></activity>
        <activity
            android:name=".first_class.ExamActivity1"
            android:parentActivityName=".first_class.First_Class" />
        <activity
            android:name=".second_class.ExamActivity2"
            android:parentActivityName=".second_class.SecondClass" />
        <activity
            android:name=".third_class.ExamActivity3"
            android:parentActivityName=".third_class.ThirdClass" />
        <activity
            android:name=".fourth_class.ExamActivity4"
            android:parentActivityName=".fourth_class.Fourth_Class" />
        <activity
            android:name=".fifth_class.ExamActivity5"
            android:parentActivityName=".fifth_class.Fifth_Class" />
        <activity
            android:name=".sixth_class.ExamActivity6"
            android:parentActivityName=".sixth_class.Sixth_Class" />
        <activity
            android:name=".seventh_class.ExamActivity7"
            android:parentActivityName=".seventh_class.Seventh_Class" />
        <activity
            android:name=".nine_class.ExamActivity9"
            android:parentActivityName=".Nine_Class" />
        <activity
            android:name=".ten_class.ExamActivity10"
            android:parentActivityName=".ten_class.Ten_Class" />
        <activity
            android:name=".eleven_class.ExamActivity11"
            android:parentActivityName=".eleven_class.ElevenClass" />
        <activity
            android:name=".eleven_class.ElevenClass"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ten_class.Ten_Class"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".eight_class.Eight_Class"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".seventh_class.Seventh_Class"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".sixth_class.Sixth_Class"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".fifth_class.Fifth_Class"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".fourth_class.Fourth_Class"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".third_class.ThirdClass"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".second_class.SecondClass"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".first_class.First_Class"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>